body{margin:0; padding: 0; font-family: 'Open Sans', sans-serif, arial; font-size: 14px; background: #e07070; overflow: hidden;}
*{font-family: 'Open Sans', sans-serif, arial; font-size: 14px; color:#555; }
.main{max-width:1024px; width:100%; margin:auto;}
.header{background: #3B5898}
.header h1{max-width:1024px; width:100%; margin:0 auto; padding:10px 0; font-size: 20px; color: #fff; text-align: center; font-weight: 300}
.userscreen{margin: auto; text-align: center; margin-top: 24%}
.input-user {
  border: solid 2px #c9c9c9;
  transition: border 0.3s;
  width:250px;
}

.btn {background-color:#637aad;}
.btn:hover {background-color:#5972a7;}
#result{max-width:1024px; width:100%; padding:10px; background: #f1f1f1; max-height: 80%; overflow-y:auto;}
.chatcontrols form{margin: 0}
#chatbox 
{
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #777;
    border-radius: 2px 2px 2px 2px;
    color: #6C6C6C;
    height: 35px;
    margin-top: 10px;
    outline: medium none;
    padding: 10px 10px;
    width: 65.5%;
    height: 60px;
    font-size: 20px;
    font-weight: 300
}
.btn-send{font-size: 20px; padding: 15px; font-weight: 300}
.btn-clear{padding: 15px 25px; font-size: 20px; font-weight: 300}
.logout{float: right; color: #fff; text-decoration: none; font-size: 15px}